Repository IT-Academy-BCN/ita-directory, pull requests merged in 2021-12, with the labels that each got.

#405 321 recover password functionality
  .env.development
  backend/app/controllers/users.controller.js
  documents/docs/Back-end/02-error_handler.md
  documents/docs/Back-end/03-userLogin.md
  documents/docs/Back-end/04-userRegister.md
  documents/docs/Back-end/05-changePassword.md
  documents/static/img/changePassword.png
  documents/static/img/login.png
  documents/static/img/register.png
  frontend/src/App.js
  frontend/src/components/composed/SearchBar/SearchBar.js
  frontend/src/components/units/InputValidated/InputValidated.js
  frontend/src/screens/Home/Home.js
  frontend/src/screens/Home/Home.styles.js
  frontend/src/screens/UserFlow/ChangePassword/ChangePassword.js
  frontend/src/screens/UserFlow/RecoverPassword/RecoverPassword.js
  frontend/src/screens/UserFlow/RecoverPassword/RecoverPassword.styles.js
  frontend/src/screens/UserFlow/UpdatePassword/UpdatePassword.js
  package-lock.json
  yarn.lock
Labels: enhancement, frontend, backend

#404 added docusaurus docs and fixes to user.controller
  frontend/src/screens/UserFlow/ChangePassword/ChangePassword.js
  frontend/src/screens/UserFlow/RecoverPassword/RecoverPassword.js
Labels: documentation, backend

#408 updated dependencies and recovered prettier
  .vscode/settings.json
  backend/package-lock.json
  backend/package.json
  package-lock.json
  package.json
Labels: bug, enhancement

#411 fix header according to Design
  frontend/package-lock.json
  frontend/src/components/layout/Body/Body.js
  frontend/src/components/layout/Header/Header.js
  frontend/src/components/layout/Header/Header.styles.js
Labels: bug, frontend
