Repository IT-Academy-BCN/ita-directory, pull requests merged in 2021-11, with the labels that each got.

#353 352 fixed image path with static file
  backend/.gitignore
  backend/app/app.js
  backend/app/controllers/users.js
  backend/prisma/seed.js
Labels: backend

#354 Updated register's error control and fix only one Notification
  frontend/src/screens/UserFlow/Registration/Registration.js
Labels: frontend

#355 345 implement update user info
  frontend/src/screens/UserFlow/Profile/Profile.js
  frontend/src/screens/UserFlow/Profile/Profile.styles.js
  frontend/src/screens/UserFlow/fakeUser.json
  frontend/src/screens/UserFlow/usersDB.json
Labels: frontend

#356 Issue ad users backend (provisional)
  frontend/public/mockUsers.json
  frontend/src/screens/ListaUsuariosAdmins/ListaUsuariosAdmins.js
Labels: frontend

#358 357 update ita apo docker compose
  README.md
  backend/server.js
  docker-compose.yml
  frontend/src/screens/UserFlow/Login/Login.js
  yarn.lock
Labels: bug, backend

#364 359 connect individual ads to backend
  frontend/.env.development
  frontend/.env.production
  frontend/src/App.js
  frontend/src/api/ads.js
  frontend/src/api/data/db.json
  frontend/src/components/composed/ProtectedRoute/index.js
  frontend/src/screens/Ad/Ad.js
  frontend/src/screens/AdList/AdCard/AdCard.js
  frontend/src/screens/AdList/AdCard/AdCard.style.js
  frontend/src/screens/AdList/AdList.js
  package-lock.json
  package.json
  yarn.lock
Labels: enhancement, frontend

#369 added level and level_type to schema.prisma and seeds to seed.js
  backend/prisma/migrations/20211117131819_/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.js
Labels: backend

#373 added seeds up to level 4 (town)
  backend/app/app.js
  backend/app/controllers/location.js
  backend/app/routes/location.js
  backend/app/utils/formatLocation.js
  backend/app/utils/utils.js
  backend/prisma/seed.js
Labels: backend

#377 Feat: Create Search screen
  frontend/src/screens/Search/Search.js
  frontend/src/screens/Search/Search.style.js
Labels: frontend

#374 new-card-design
  frontend/.env.production
  frontend/src/App.js
  frontend/src/api/ads.js
  frontend/src/components/composed/AdCardList/AdCardContainer.js
  frontend/src/components/composed/AdCardList/AdCardItem.js
  frontend/src/components/composed/AdCardList/AdCardItem.styles.js
  frontend/src/components/composed/AdCardList/AdCardList.js
  frontend/src/components/composed/AdCardList/AdCardList.styles.js
  frontend/src/theme/Colors.js
Labels: frontend

#379 378 fix 370 documentation
  backend/app/controllers/location.js
  backend/app/routes/location.js
  backend/app/utils/formatLocation.js
Labels: bug

#380 Added ad_type table and seeds, modified 20210623161027_init migration…
  backend/prisma/migrations/20210623161027_init/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.js
Labels: documentation, enhancement, backend

#381 Pagination and LoadMore button completed
  frontend/src/App.js
  frontend/src/components/composed/AdCardList/AdCardListLoadMoreBtn.js
  frontend/src/components/composed/AdCardList/AdCardListPagination.js
  frontend/src/components/composed/Pagination/Pagination.js
  frontend/src/components/composed/Pagination/Pagination.style.js
  frontend/src/screens/FalseSearch.js/FalseSearch.js
Labels: frontend

#384 moved seeds to separate files
  backend/prisma/seed.js
  backend/prisma/seedFiles/ad_types.js
  backend/prisma/seedFiles/ads.js
  backend/prisma/seedFiles/level_types.js
  backend/prisma/seedFiles/levels.js
Labels: enhancement, backend

#385 Search bar with ad type and ad region #366
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/composed/SearchBar/SearchBar.js
  frontend/src/components/composed/SearchBar/SearchBarStyles.js
  frontend/src/components/composed/SearchBar/logic/data-json/citiesOptions.js
  frontend/src/components/composed/SearchBar/logic/data-json/roomsOptions.js
  frontend/src/components/composed/SearchBar/logic/find-repeated-values-array/index.js
  frontend/src/components/composed/SearchBar/logic/firstLetterUpperCase/index.js
  frontend/src/components/composed/SearchBar/logic/retrieveAdsByCity/index.js
  frontend/src/components/composed/SearchBar/logic/retrieveAdsByType/index.js
  frontend/src/components/composed/SearchBar/logic/retrieveSearchBarAds/retrieveSearchBarAds.js
  frontend/src/components/layout/Header/Header.js
  frontend/src/components/layout/Header/Header.styles.js
  frontend/src/components/units/SearchButton/SearchButton.js
  frontend/src/components/units/SearchButton/SearchButtonStyles.js
  frontend/src/components/units/Select/SelectUnit.js
  frontend/src/components/units/Select/SelectUnitStyles.js
  frontend/src/screens/Search/Search.js
  frontend/src/screens/Search/Search.style.js
  yarn.lock
Labels: enhancement, frontend

#390 fixed express-jsdoc-swagger error
  backend/app/routes/ads.js
  backend/app/routes/location.js
  backend/app/routes/media.js
Labels: bug, documentation, backend

#389 274- Delete Simplified-button component
  frontend/src/components/units/SimplifiedButton/SimplifiedButton.js
  frontend/src/components/units/SimplifiedButton/SimplifiedButton.styles.js
Labels: frontend

#391 API request url updated
  frontend/src/screens/UserFlow/Login/Login.js
  frontend/src/screens/UserFlow/Registration/Registration.js
Labels: frontend

#393 fixed registerUser controller
  backend/app/controllers/users.js
  backend/app/routes/users.js
Labels: bug, documentation, backend

#394 search+load more functionality working
  frontend/src/App.js
  frontend/src/components/composed/AdCardList/AdCardListLoadMoreBtn.js
  frontend/src/components/composed/SearchBar/SearchBar.js
  frontend/src/components/units/Select/SelectUnit.js
  frontend/src/screens/FalseSearch.js/FalseSearch.js
  frontend/src/screens/Search/Search.js
  frontend/src/screens/Search/Search.style.js
  package-lock.json
  yarn.lock
Labels: enhancement, frontend

#395 392 review endpoints
  backend/app/controllers/users.js
Labels: bug, backend

#399 396 fix swagger docs
  backend/app/app.js
  backend/app/controllers/ads.controller.js
  backend/app/controllers/constants.controller.js
  backend/app/controllers/location.controller.js
  backend/app/controllers/media.controller.js
  backend/app/controllers/users.controller.js
  backend/app/routes/ads.routes.js
  backend/app/routes/constants.routes.js
  backend/app/routes/location.routes.js
  backend/app/routes/media.routes.js
  backend/app/routes/users.routes.js
  backend/app/utils/utils.js
  backend/prisma/schema.prisma
Labels: documentation, enhancement, backend

#401 Filtering by type and region working
  frontend/src/components/composed/SearchBar/SearchBar.js
  frontend/src/screens/Search/Search.js
Labels: enhancement, frontend

#402 modified password change route and controller, minor fix to ads.controller
  backend/app/controllers/ads.controller.js
  backend/app/controllers/users.controller.js
  backend/app/routes/users.routes.js
  backend/app/utils/utils.js
Labels: documentation, enhancement, backend
