Repository IT-Academy-BCN/ita-directory, pull requests merged in 2022-06, with the labels that each got.

#641 627 middleware try catch con handle error
  backend/app/app.js
  backend/app/controllers/ads.controller.js
  backend/app/controllers/chat.controller.js
  backend/app/controllers/constants.controller.js
  backend/app/controllers/contact.controller.js
  backend/app/controllers/location.controller.js
  backend/app/controllers/log.controller.js
  backend/app/controllers/media.controller.js
  backend/app/controllers/users.controller.js
  backend/app/middleware/handlerErrors.js
  backend/app/middleware/handlerLogger.js
  backend/package-lock.json
  backend/package.json
  backend/server.js
Labels: backend

#638 Change password login and registration
  .env.development
  frontend/src/pages/UserFlow/Login/Login.jsx
  frontend/src/pages/UserFlow/Registration/Registration.jsx
  frontend/src/utils/userFlow.js
Labels: frontend

#643 642 add city and included expenses to ads
  backend/app/_tests_/app.test.js
  backend/app/controllers/ads.controller.js
  backend/prisma/migrations/20220601083619_added_city_included_expenses_to/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seedFiles/ads.js
Labels: backend

#645 644 fix circular dependency
  .env.development
  backend/app/controllers/users.controller.js
  backend/app/utils/utils.js
Labels: backend

#651 0 fix 647
  .github/workflows/front.yml
  .github/workflows/lint.yml
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Labels: enhancement

#659 658 restore overwritten fields
  backend/app/controllers/ads.controller.js
  backend/prisma/schema.prisma
  backend/prisma/seed.js
  backend/prisma/seedFiles/ad_status.js
  backend/prisma/seedFiles/ad_types.js
  backend/prisma/seedFiles/ads.js
  backend/prisma/seedFiles/levels.js
Labels: backend

#665 add api-docs to get users request
  backend/app/routes/users.routes.js
Labels: backend

#667 630 add collaborators
  frontend/.eslintrc
  frontend/package-lock.json
  frontend/src/assets/logos/Colaboradores-Banner.jpg
  frontend/src/components/atoms/Banner.jsx
  frontend/src/components/atoms/Forms/InputNumber.jsx
  frontend/src/components/organisms/Charts/BarChart/BarGraphic.jsx
  frontend/src/components/organisms/Charts/LineChart/LineGraphic.jsx
  frontend/src/components/organisms/Charts/PieChart/PieGraphic.jsx
  frontend/src/components/organisms/Charts/PieChart/PieGraphicWithD3.jsx
  frontend/src/components/organisms/DeleteModal/DeleteModal.jsx
  frontend/src/components/organisms/EditProfileModal/EditProfile.jsx
  frontend/src/components/organisms/Map/MapView/MapMarker/MapPopup/MapPopup.jsx
  frontend/src/components/organisms/Map/MapView/MapMarkers/MapPopup/MapPopup.jsx
  frontend/src/components/organisms/SearchBar/SearchBar.jsx
  frontend/src/components/organisms/UserModal/UserModal.jsx
  frontend/src/pages/CreateNewAd/CreateNewAd.jsx
  frontend/src/pages/EditAd/EditAd.jsx
  frontend/src/pages/ListaUsuariosAdmins/ListaUsuariosAdmins.jsx
  frontend/src/pages/MyBills/DocumentComponent.jsx
  frontend/src/pages/MyBills/MyBills.jsx
  frontend/src/pages/Search/Search.jsx
  frontend/src/pages/Students/Students.jsx
  frontend/src/pages/UserAds/EditAdModal/EditAdModal.jsx
  frontend/src/utils/userFlow.js
  frontend/vite.config.js
Labels: frontend
