Repository IT-Academy-BCN/ita-directory, pull requests merged in 2022-11, with the labels that each got.

#787 761 update tests that renders state from store with custom render
  frontend/package-lock.json
  frontend/src/__test__/pages/AdList/AdCard/AdCard.test.jsx
  frontend/src/__test__/pages/AdList/AdList.test.jsx
  frontend/src/__test__/pages/AdList/AdListFilter/AdListFilter.test.jsx
  frontend/src/__test__/pages/UserFlow/Login/Login.test.jsx
Labels: frontend

#786 added Closing Keyword info, commented unused sections
  README.md
Labels: documentation

#789 777 add user role name property to user
  backend/app/controllers/users.controller.js
Labels: backend

#785 631 added react helmet async
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__test__/organisms/HelmetComponent.test.jsx
  frontend/src/__test__/pages/UserFlow/Login/Login.test.jsx
  frontend/src/__test__/test-utils.jsx
  frontend/src/components/layout/Body/Body.jsx
  frontend/src/components/organisms/HelmetComponent.jsx
  frontend/src/components/organisms/index.js
  frontend/src/index.jsx
  frontend/src/pages/Business/Business.jsx
  frontend/src/pages/Home/Home.jsx
  frontend/src/pages/Students/Students.jsx
Labels: frontend

#793 791 fix header sub title
  frontend/src/components/layout/Body/Body.jsx
  frontend/src/components/layout/Header/Header.jsx
  frontend/src/pages/Business/Business.jsx
  frontend/src/pages/CreateNewAd/CreateNewAd.jsx
  frontend/src/pages/Home/Home.jsx
  frontend/src/pages/Students/Students.jsx
Labels: frontend

#805 688 new database table for invoices
  backend/app/controllers/invoices.controller.js
  backend/app/routes/invoices.routes.js
  backend/app/schemas/InvoiceSchema.js
  backend/app/utils/schemaValidation.js
  backend/db/schema-db.puml
  backend/prisma/schema.prisma
  backend/prisma/seedFiles/invoices.js
Labels: bug, backend

#806 783 remove yup and add zod
  backend/db/schema-db.puml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__test__/pages/UserFlow/Login/Login.test.jsx
  frontend/src/components/organisms/ContactModal.jsx
  frontend/src/pages/CreateNewAd/CreateNewAd.jsx
  frontend/src/pages/UserFlow/Login/Login.jsx
  frontend/src/pages/UserFlow/RecoverPassword/RecoverPassword.jsx
  frontend/src/pages/UserFlow/Registration/Registration.jsx
  frontend/src/validation/contactModalSchema.js
  frontend/src/validation/createNewAdSchema.js
  frontend/src/validation/recoverPasswordSchema.js
Labels: frontend

#807 775 create new map input
  backend/db/schema-db.png
  backend/db/schema-db.puml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/atoms/Forms/Input.jsx
  frontend/src/components/atoms/Forms/InputText.jsx
  frontend/src/components/atoms/Forms/Label.jsx
  frontend/src/components/molecules/InputGroupText.jsx
  frontend/src/components/organisms/Map/CustomMap/CustomMap.jsx
  frontend/src/pages/AdList/AdList.jsx
  frontend/src/pages/AdList/AdListFilter/AdListFilter.jsx
  frontend/src/pages/CreateNewAd/CreateNewAd.jsx
  frontend/src/validation/createNewAdSchema.js
Labels: frontend

#814 added tsconfigRootDir
  frontend/.eslintrc
Labels: bug, frontend

#811 fix label isError
  frontend/.eslintrc
Labels: frontend

#816 640 fix map ad list
  frontend/.eslintrc
  frontend/src/components/layout/Body/Body.jsx
  frontend/src/components/organisms/Map/MapView/MapMarker/MapMarker.jsx
  frontend/src/components/organisms/Map/MapView/MapMarker/MapPopup/MapPopUp.Style.js
  frontend/src/components/organisms/Map/MapView/MapMarker/MapPopup/MapPopup.jsx
  frontend/src/components/organisms/Map/MapView/MapView.jsx
  frontend/src/pages/AdList/AdList.tsx
  frontend/src/pages/AdList/AdListFilter/AdListFilter.jsx
Labels: frontend

#822 modified README
  README.md
Labels: documentation

#835 added return val
  frontend/src/validation/createNewAdSchema.js
Labels: bug, frontend
