Repository IT-Academy-BCN/ita-directory, pull requests merged in 2022-10, with the labels that each got.

#715 Fix patch user route in admin list
  frontend/src/api/utils/patchUser.js
  frontend/src/pages/ListaUsuariosAdmins/ListaUsuariosAdmins.jsx
Labels: bug, frontend

#732 724 login page wrong error messages
  frontend/src/__test__/atoms/ErrorMessage.test.jsx
  frontend/src/__test__/molecules/InputGroup.test.jsx
  frontend/src/__test__/pages/Login.test.jsx
  frontend/src/components/atoms/Button.jsx
  frontend/src/components/atoms/Forms/ErrorMessage.jsx
  frontend/src/index.jsx
  frontend/src/pages/UserFlow/Login/Login.jsx
  frontend/src/pages/UserFlow/Registration/Registration.jsx
Labels: frontend

#734 733 add custom render provider for testing
  frontend/package-lock.json
  frontend/src/__test__/test-utils.jsx
  frontend/src/components/layout/Header/UserAccess.jsx
  package-lock.json
  package.json
Labels: frontend

#725 001 horizontal scroll
  backend/app/schemas/MediaSchema.js
  backend/db/schema-db.png
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__test__/index.test.jsx
  frontend/src/index.jsx
  frontend/src/modern-normalize.css
  frontend/src/pages/Home/Home.jsx
  frontend/src/theme/globalStyles.js
Labels: frontend

#738 737 Fix recover password payload
  frontend/src/modern-normalize.css
  frontend/src/pages/UserFlow/RecoverPassword/RecoverPassword.jsx
Labels: frontend

#740 fixed InputStyled width to work with Modern Normalize
  frontend/src/components/atoms/Forms/Input.jsx
Labels: frontend

#748 742 make label from input components always required
  .vscode/launch.json
  backend/app/schemas/MediaSchema.js
  backend/app/schemas/MediaTypeSchema.js
  backend/app/schemas/UserStatusSchema.js
  backend/db/schema-db.png
  frontend/src/__test__/atoms/Label.test.jsx
  frontend/src/components/atoms/Forms/InputNumber.jsx
  frontend/src/components/atoms/Forms/Label.jsx
  frontend/src/components/atoms/Forms/TextArea.jsx
  frontend/src/pages/CreateNewAd/CreateNewAd.jsx
  frontend/src/pages/CreateNewAd/CreateNewAd.styles.js
Labels: frontend

#751 747 fix iconstyle componet
  frontend/index.html
  frontend/src/components/atoms/Forms/InputNumber.jsx
  frontend/src/components/atoms/Icon.jsx
  frontend/src/pages/CreateNewAd/CreateNewAd.jsx
  frontend/src/pages/CreateNewAd/CreateNewAd.styles.js
Labels: frontend

#764 My bills table styles fixed
  frontend/src/pages/MyBills/MyBills.jsx
  frontend/src/pages/MyBills/MyBills.styles.js
Labels: frontend

#760 758 refactor label
  frontend/src/__test__/atoms/Label.test.jsx
  frontend/src/components/atoms/Forms/InputNumber.jsx
  frontend/src/components/atoms/Forms/Label.jsx
  frontend/src/components/atoms/Forms/TextArea.jsx
  frontend/src/components/atoms/Text.js
  frontend/src/pages/CreateNewAd/CreateNewAd.jsx
  frontend/src/pages/CreateNewAd/CreateNewAd.styles.js
Labels: frontend

#736 735 Fix user registration route
  backend/app/controllers/users.controller.js
  backend/app/routes/users.routes.js
  frontend/src/pages/UserFlow/Registration/Registration.jsx
Labels: frontend, backend

#771 749 update swagger ads endpoints
  backend/app/controllers/ads.controller.js
  backend/app/routes/ads.routes.js
  backend/app/schemas/AdsSchema.js
  backend/app/utils/schemaValidation.js
  backend/prisma/migrations/20221026172502_remove_ad_location/migration.sql
  backend/prisma/schema.prisma
Labels: documentation, backend

#782 781 Create new API_URL variable in the .env file
  .env.development
  backend/db/schema-db.png
  backend/db/schema-db.puml
Labels: backend

#780 692 fix ads page ads display 1
  frontend/src/__test__/pages/AdList/AdCard/AdCard.test.jsx
  frontend/src/__test__/pages/AdList/AdList.test.jsx
  frontend/src/__test__/pages/AdList/AdListFilter/AdListFilter.test.jsx
  frontend/src/__test__/pages/UserFlow/Login/Login.test.jsx
  frontend/src/components/organisms/SearchBar/logic/retrieveAdsByType/index.js
  frontend/src/pages/Ad/Ad.jsx
  frontend/src/pages/AdList/AdCard/AdCard.jsx
  frontend/src/pages/AdList/AdList.jsx
  frontend/src/pages/CreateNewAd/CreateNewAd.jsx
  frontend/src/validation/createNewAdSchema.js
Labels: frontend
