Repository IT-Academy-BCN/ita-directory, pull requests merged in 2022-01, with the labels that each got.

#419 load, edit & register users from Api fixed minor style corrections
  backend/app/app.js
  backend/app/utils/initRedis.js
  backend/package-lock.json
  backend/package.json
  frontend/src/api/utils/patchUser.js
  frontend/src/components/composed/DeleteModal/DeleteModal.js
  frontend/src/components/composed/EditProfileModal/EditProfile.js
  frontend/src/components/composed/Modal/Modal.js
  frontend/src/components/composed/Table/ReactTable.js
  frontend/src/components/composed/UserModal/UserModal.js
  frontend/src/components/composed/UserModal/UserModal.style.js
  frontend/src/components/units/InputValidated/InputValidated.js
  frontend/src/screens/ListaUsuariosAdmins/ListaUsuariosAdmins.js
  frontend/src/screens/UserFlow/Registration/Registration.js
  frontend/src/utils/userFlow.js
Labels: bug, frontend, backend

#423 398 2 create pie chart with d3js
  frontend/src/components/composed/Charts/PieChart/PieChart.js
  frontend/src/components/composed/Charts/PieChart/PieChart.styles.js
  frontend/src/components/composed/Charts/PieChart/PieGraphicWithD3.js
Labels: enhancement, frontend

#422 #420 remove input validated component
  .env.development
  backend/app/controllers/users.controller.js
  frontend/src/components/composed/ContactModal/ContactModal.js
  frontend/src/components/composed/EditProfileModal/EditProfile.js
  frontend/src/components/units/Input/Input.js
  frontend/src/components/units/InputValidated/InputValidated.js
  frontend/src/screens/AdList/AdList.js
  frontend/src/screens/ListaUsuariosAdmins/ListaUsuariosAdmins.js
  frontend/src/screens/UserFlow/ChangePassword/ChangePassword.js
  frontend/src/screens/UserFlow/Login/Login.js
  frontend/src/screens/UserFlow/Profile/Profile.js
  frontend/src/screens/UserFlow/RecoverPassword/RecoverPassword.js
  frontend/src/screens/UserFlow/Registration/Registration.js
  frontend/src/screens/UserFlow/UpdatePassword/UpdatePassword.js
  frontend/src/screens/UserFlow/UserFlow.styles.js
  frontend/src/utils/userFlow.js
Labels: frontend

#424 pie chart with d3
  frontend/src/screens/Dashboard/Dashboard.js
Labels: enhancement, frontend

#427 410 create line chart d3
  frontend/src/components/composed/Charts/D3LineChart/D3LineChart.js
  frontend/src/components/composed/Charts/D3LineChart/D3LineGraphic.js
  frontend/src/components/composed/Charts/D3LineChart/D3Styled.js
  frontend/src/components/composed/Charts/D3LineChart/Selector.js
  frontend/src/screens/Dashboard/Dashboard.js
Labels: frontend

#434 Create 404 Error Page #415
  frontend/src/App.js
  frontend/src/components/layout/Body/Body.styles.js
  frontend/src/screens/PageNotFound/PageNotFound.js
Labels: frontend

#435 Feature/#429 fix contact modal
  frontend/src/components/composed/ContactModal/ContactModal.js
  frontend/src/components/composed/Modal/Modal.js
  frontend/src/components/composed/Modal/Modal.styles.js
  frontend/src/components/units/Button/Button.styles.js
  frontend/src/components/units/Input/Input.styles.js
  frontend/src/components/units/TextArea/TextArea.styles.js
Labels: frontend

#442 #441 Styles in RecoverPassword
  frontend/src/components/units/Button/Button.styles.js
  frontend/src/screens/UserFlow/Login/Login.js
  frontend/src/screens/UserFlow/RecoverPassword/RecoverPassword.js
Labels: frontend

#440 430 send email
  backend/.env.development
  backend/app/app.js
  backend/app/controllers/contact.controller.js
  backend/app/middleware/validation.js
  backend/app/routes/contact.routes.js
  backend/app/utils/messagEmail.js
  backend/app/utils/schemaValidation.js
  backend/app/utils/swaggerOptions.js
  backend/package-lock.json
  backend/package.json
Labels: backend

#443 update users.controller para el recovery-password a traves del envio d…
  backend/.env.development
  backend/app/controllers/contact.controller.js
  backend/app/controllers/users.controller.js
  backend/app/routes/users.routes.js
  backend/app/utils/messagEmail.js
  backend/app/utils/transporterEmail.js
Labels: backend

#444 Feature/#437 use yup for inputs validation
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/composed/ContactModal/ContactModal.js
  frontend/src/components/composed/ContactModal/ContactModal.style.js
  frontend/src/components/composed/Modal/Modal.styles.js
  frontend/src/components/units/TextArea/TextArea.styles.js
  frontend/src/validation/contactModalSchema.js
Labels: frontend

#446 #445 Map Component Files Reorganization
  frontend/src/components/composed/Map/CustomMap/CustomMap.css
  frontend/src/components/composed/Map/CustomMap/CustomMap.js
  frontend/src/components/composed/Map/CustomMap/CustomMapIcons/CustomMapIcons.js
  frontend/src/components/composed/Map/CustomMap/IconSelector/CustomIcon/CustomIcon.js
  frontend/src/components/composed/Map/CustomMap/IconSelector/IconSelector.js
  frontend/src/components/composed/Map/CustomMap/IconSelector/IconsSelector.styles.js
  frontend/src/components/composed/Map/CustomMapAd.css
  frontend/src/components/composed/Map/CustomMapAd.js
  frontend/src/components/composed/Map/Filter.styles.js
  frontend/src/components/composed/Map/Icons.js
  frontend/src/components/composed/Map/Map/Map.css
  frontend/src/components/composed/Map/Map/Map.js
  frontend/src/components/composed/Map/MapPopup.css
  frontend/src/components/composed/Map/MapView/MapMarkers/MapIcon/MapIcon.js
  frontend/src/components/composed/Map/MapView/MapMarkers/MapMarkers.js
  frontend/src/components/composed/Map/MapView/MapMarkers/MapPopup/MapPopUp.Style.js
  frontend/src/components/composed/Map/MapView/MapMarkers/MapPopup/MapPopup.js
  frontend/src/components/composed/Map/MapView/MapView.css
  frontend/src/components/composed/Map/MapView/MapView.js
  frontend/src/components/composed/Map/MapaFiltro.js
  frontend/src/screens/Ad/Ad.js
  frontend/src/screens/AdList/AdList.js
  frontend/src/screens/CreateNewAd/CreateNewAd.js
  frontend/src/screens/UserAds/EditAdModal/EditAdModal.js
Labels: frontend
