Repository IT-Academy-BCN/ita-directory, pull requests merged in 2022-07, with the labels that each got.

#678 676 update user does not work
  backend/app/_tests_/app.test.js
  backend/app/controllers/users.controller.js
  backend/app/routes/ads.routes.js
  backend/app/routes/users.routes.js
  backend/app/utils/swaggerOptions.js
  backend/prisma/seed.js
Labels: backend

#681 0 fix update user does not work
  backend/app/schemas/AccesLogSchema.js
  backend/app/schemas/AdStatusSchema.js
  backend/app/schemas/AdTypeSchema.js
  backend/app/schemas/AdsSchema.js
  backend/app/schemas/ConversationSchema.js
  backend/app/schemas/LevelSchema.js
  backend/app/schemas/LevelTypeSchema.js
  backend/app/schemas/MediaMetaSchema.js
  backend/app/schemas/MediaSchema.js
  backend/app/schemas/MediaTypeSchema.js
  backend/app/schemas/MessageSchema.js
  backend/app/schemas/RecoverPasswordLogSchema.js
  backend/app/schemas/UserConversationSchema.js
  backend/app/schemas/UserRoleSchema.js
  backend/app/schemas/UserSchema.js
  backend/app/schemas/UserStatusSchema.js
  backend/prisma/seed.js
Labels: backend

#682 fix bearer refresh token
  backend/app/controllers/users.controller.js
  frontend/src/utils/axiosInstance.js
Labels: bug

#684 663 get users should return media path in a string
  backend/app/controllers/users.controller.js
  backend/app/schemas/AccesLogSchema.js
  backend/app/schemas/AdStatusSchema.js
  backend/app/schemas/AdTypeSchema.js
  backend/app/schemas/AdsSchema.js
  backend/app/schemas/ConversationSchema.js
  backend/app/schemas/LevelSchema.js
  backend/app/schemas/LevelTypeSchema.js
  backend/app/schemas/MediaMetaSchema.js
  backend/app/schemas/MediaSchema.js
  backend/app/schemas/MediaTypeSchema.js
  backend/app/schemas/MessageSchema.js
  backend/app/schemas/RecoverPasswordLogSchema.js
  backend/app/schemas/UserConversationSchema.js
  backend/app/schemas/UserRoleSchema.js
  backend/app/schemas/UserSchema.js
  backend/prisma/migrations/20220704081113_add_avatar/migration.sql
  backend/prisma/seed.js
  public/2021/10/image1.jpg
  public/2021/10/image2.jpg
  public/2021/10/image3.png
  public/2021/10/image4.png
  public/2021/10/image5.jpg
Labels: backend

#686 partially fix profile page
  backend/app/app.js
  backend/app/controllers/users.controller.js
  backend/app/public/2021/10/image1.jpg
  backend/app/public/2021/10/image2.jpg
  backend/app/public/2021/10/image3.png
  backend/app/public/2021/10/image4.png
  backend/app/public/2021/10/image5.jpg
  backend/app/schemas/AccesLogSchema.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/atoms/Button.jsx
  frontend/src/components/layout/Header/UserAccess.jsx
  frontend/src/hooks/useUser.jsx
  frontend/src/pages/UserFlow/Profile/Profile.jsx
  frontend/src/store/store.js
  frontend/src/store/userSlice.js
  frontend/src/utils/axiosInstance.js
  frontend/src/utils/urls.js
  frontend/vite.config.js
Labels: bug, frontend, backend

#694 0 review project failures
  backend/app/routes/ads.routes.js
  frontend/src/App.jsx
  frontend/src/components/layout/Header/UserAccess.jsx
  frontend/src/pages/CreateNewAd/CreateNewAd.jsx
  frontend/src/pages/ListaUsuariosAdmins/ListaUsuariosAdmins.jsx
  frontend/src/pages/UserAds/UserAds.jsx
  frontend/src/utils/constant.js
  frontend/src/utils/urls.js
Labels: backend

#696 0 Fix Refactor uploadFile.js to pass lint checks
  backend/app/middleware/uploadFile.js
Labels: backend

#698 689 extract user id from token
  backend/app/controllers/ads.controller.js
  backend/app/routes/ads.routes.js
Labels: backend

#699 0 Install prisma-uml to produce entity relation diagram from prisma schema
  backend/app/schemas/AccesLogSchema.js
  backend/db/schema-db.png
  backend/db/schema-db.puml
  backend/package-lock.json
  backend/package.json
  package.json
Labels: documentation, backend

#700 695 I updated the user routes to have multiple methods on the same endpoint
  backend/app/routes/users.routes.js
Labels: backend

#702 701 add zod parse to user patch route
  backend/app/_tests_/app.test.js
  backend/app/controllers/users.controller.js
  backend/app/middleware/zodValidation.js
  backend/app/routes/users.routes.js
Labels: backend

#703 666 add role access middleware and use it in users route
  backend/app/middleware/roleAuth.js
  backend/app/routes/users.routes.js
  backend/app/utils/CONSTANTS.js
Labels: backend

#705 693 fix control modals
  backend/app/app.js
  backend/app/controllers/users.controller.js
  backend/app/routes/index.js
  backend/app/routes/users.routes.js
  backend/app/schemas/AccesLogSchema.js
  backend/app/schemas/AdStatusSchema.js
  backend/app/schemas/AdTypeSchema.js
  backend/app/schemas/AdsSchema.js
  backend/app/schemas/ConversationSchema.js
  backend/app/schemas/LevelSchema.js
  backend/app/schemas/LevelTypeSchema.js
  backend/app/schemas/MediaMetaSchema.js
  backend/app/schemas/MediaSchema.js
  backend/app/schemas/MediaTypeSchema.js
  backend/app/schemas/MessageSchema.js
  backend/app/schemas/RecoverPasswordLogSchema.js
  backend/app/schemas/UserConversationSchema.js
  backend/app/schemas/UserSchema.js
  backend/app/schemas/UserStatusSchema.js
  backend/package-lock.json
  backend/prisma/seed.js
  frontend/src/App.jsx
  frontend/src/components/organisms/Modals/UserStatus.jsx
  frontend/src/components/organisms/Modals/index.js
  frontend/src/components/organisms/ProtectedRoute.jsx
  frontend/src/components/organisms/UserModal/UserModal.jsx
  frontend/src/components/organisms/UserModal/UserModal.style.js
  frontend/src/components/organisms/index.js
  frontend/src/hooks/useUser.jsx
  frontend/src/pages/ListaUsuariosAdmins/ListaUsuariosAdmins.jsx
  frontend/src/pages/UserFlow/Login/Login.jsx
  frontend/src/utils/axiosInstance.js
  frontend/src/utils/index.js
  frontend/src/utils/paths.js
  frontend/src/utils/urls.js
Labels: frontend

#706 update code
  backend/app/schemas/AccesLogSchema.js
  backend/app/schemas/AdStatusSchema.js
  backend/app/schemas/AdTypeSchema.js
  backend/app/schemas/AdsSchema.js
  backend/app/schemas/ConversationSchema.js
  backend/app/schemas/LevelSchema.js
  backend/app/schemas/LevelTypeSchema.js
  backend/app/schemas/MediaSchema.js
  backend/app/schemas/MediaTypeSchema.js
  backend/app/schemas/MessageSchema.js
  backend/app/schemas/RecoverPasswordLogSchema.js
  backend/app/schemas/UserConversationSchema.js
  backend/app/schemas/UserSchema.js
Labels: frontend

#708 687 enable avatar update
  backend/app/controllers/users.controller.js
  backend/app/middleware/uploadFile.js
  backend/app/routes/users.routes.js
  backend/prisma/seed.js
Labels: backend

#707 690 Fixed userAds in paths.js
  frontend/src/utils/paths.js
Labels: frontend

#711 fix schemas that did not get generated
  backend/app/schemas/MediaMetaSchema.js
  backend/app/schemas/UserStatusSchema.js
Labels: backend

#712 709 unify api routes and swagger doc
  .env.development
  backend/app/_tests_/app.test.js
  backend/app/app.js
  backend/app/controllers/ads.controller.js
  backend/app/controllers/users.controller.js
  backend/app/routes/ads.routes.js
  backend/app/routes/chat.routes.js
  backend/app/routes/constants.routes.js
  backend/app/routes/contact.routes.js
  backend/app/routes/location.routes.js
  backend/app/routes/log.routes.js
  backend/app/routes/media.routes.js
  backend/app/routes/users.routes.js
  backend/app/utils/swagger.json
  backend/app/utils/swaggerOptions.js
  backend/prisma/seed.js
  frontend/src/api/ads.js
  frontend/src/api/user.js
  frontend/src/api/utils/patchUser.js
  frontend/src/components/organisms/AdCardList/AdCardListPagination.jsx
  frontend/src/components/organisms/SearchBar/SearchBar.jsx
  frontend/src/components/organisms/SearchBar/logic/retrieveAdsByCity/index.js
  frontend/src/components/organisms/SearchBar/logic/retrieveAdsByType/index.js
  frontend/src/pages/AdList/AdList.jsx
  frontend/src/pages/CreateNewAd/CreateNewAd.jsx
  frontend/src/pages/Search/Search.jsx
  frontend/src/pages/UserFlow/ChangePassword/ChangePassword.jsx
  frontend/src/pages/UserFlow/RecoverPassword/RecoverPassword.jsx
  frontend/src/pages/UserFlow/Registration/Registration.jsx
  frontend/src/pages/UserFlow/UpdatePassword.jsx
  frontend/src/utils/urls.js
Labels: frontend, backend, test

#713 Add zod validation and test for GET /user route
  backend/app/_tests_/app.test.js
  backend/app/middleware/zodValidation.js
  backend/app/routes/users.routes.js
Labels: backend, test

#714 489 make homepage map responsive
  frontend/src/components/organisms/InteractiveMap/DistrictsList.jsx
  frontend/src/components/organisms/InteractiveMap/InteractiveMap.jsx
  frontend/src/components/organisms/InteractiveMap/mapOfDistrictsStyles.js
Labels: frontend
