Repository IT-Academy-BCN/ita-directory, pull requests merged in 2022-05, with the labels that each got.

#569 Change Button Styled
  frontend/src/components/atoms/Button/Button.styles.js
  frontend/src/theme/Colors.js
Labels: frontend

#573 557 Fix useEffect empty array dependencies for notifications
  frontend/src/pages/UserFlow/Profile/Profile.jsx
  frontend/src/pages/UserFlow/RecoverPassword/RecoverPassword.jsx
  frontend/src/pages/UserFlow/Registration/Registration.jsx
  frontend/src/pages/UserFlow/UpdatePassword/UpdatePassword.js
  frontend/src/pages/UserFlow/UpdatePassword/UpdatePassword.jsx
Labels: frontend

#572 565 refactor atoms
  frontend/src/components/atoms/Button.jsx
  frontend/src/components/atoms/Button/Button.styles.js
  frontend/src/components/atoms/CheckBox.jsx
  frontend/src/components/atoms/Forms/Input.jsx
  frontend/src/components/atoms/Forms/Input.styled.js
  frontend/src/components/atoms/Forms/InputNumber.jsx
  frontend/src/components/atoms/Forms/SelectUnit.jsx
  frontend/src/components/atoms/Forms/TextArea.jsx
  frontend/src/components/atoms/Forms/index.js
  frontend/src/components/atoms/Input/Input.jsx
  frontend/src/components/atoms/Input/Input.styles.js
  frontend/src/components/atoms/InputNumber/InputNumber.styles.js
  frontend/src/components/atoms/Select/SelectUnitStyles.js
  frontend/src/components/atoms/TextArea/TextArea.jsx
  frontend/src/components/atoms/TextArea/TextArea.styles.js
  frontend/src/components/atoms/Title.jsx
  frontend/src/components/atoms/index.js
  frontend/src/components/layout/Header/Header.jsx
  frontend/src/components/molecules/SearchButton.jsx
  frontend/src/components/molecules/TextAreaGroup.jsx
  frontend/src/components/molecules/index.js
  frontend/src/components/organisms/AdCardList/AdCardItem.jsx
  frontend/src/components/organisms/AdCardList/AdCardListLoadMoreBtn.jsx
  frontend/src/components/organisms/ContactModal/ContactModal.jsx
  frontend/src/components/organisms/DeleteModal/DeleteModal.jsx
  frontend/src/components/organisms/EditProfileModal/EditProfile.jsx
  frontend/src/components/organisms/FilterList/FilterList.jsx
  frontend/src/components/organisms/Map/MapView/MapMarker/MapPopup/MapPopup.jsx
  frontend/src/components/organisms/Map/MapView/MapMarkers/MapPopup/MapPopup.jsx
  frontend/src/components/organisms/Modal/Modal.jsx
  frontend/src/components/organisms/SearchBar/SearchBar.jsx
  frontend/src/components/organisms/UserModal/UserModal.jsx
  frontend/src/pages/Ad/Ad.jsx
  frontend/src/pages/AdList/AdCard/AdCard.jsx
  frontend/src/pages/AdList/AdList.jsx
  frontend/src/pages/AdList/AdListFilter/AdListFilter.jsx
  frontend/src/pages/CreateNewAd/CreateNewAd.jsx
  frontend/src/pages/EditAd/EditAd.jsx
  frontend/src/pages/PageNotFound/PageNotFound.jsx
  frontend/src/pages/UserAds/AdCard/AdCard.jsx
  frontend/src/pages/UserAds/EditAdModal/EditAdModal.jsx
  frontend/src/pages/UserFlow/ChangePassword/ChangePassword.jsx
  frontend/src/pages/UserFlow/Login/Login.jsx
  frontend/src/pages/UserFlow/Profile/Profile.jsx
  frontend/src/pages/UserFlow/RecoverPassword/RecoverPassword.jsx
  frontend/src/pages/UserFlow/Registration/Registration.jsx
  frontend/src/pages/UserFlow/UpdatePassword/UpdatePassword.js
  frontend/src/pages/UserFlow/UpdatePassword/UpdatePassword.jsx
Labels: frontend

#577 566 expose chat api
  backend/app/app.js
  backend/app/controllers/chat.controller.js
  backend/app/routes/chat.routes.js
  backend/app/utils/utils.js
  backend/prisma/schema.prisma
  package-lock.json
  package.json
Labels: backend

#589 582 fix name lastnames in register endpoint
  backend/app/controllers/users.controller.js
  frontend/src/pages/UserFlow/Registration/Registration.jsx
Labels: backend

#591 588 fix husky cannot execute
  .husky/pre-commit
  backend/app/controllers/users.controller.js
  backend/app/middleware/verifyToken.js
  backend/app/routes/users.routes.js
  frontend/src/App.jsx
  frontend/src/components/atoms/Notifications/Notification.jsx
  frontend/src/components/atoms/Notifications/Notifications.jsx
  frontend/src/components/atoms/Notifications/index.js
  frontend/src/components/atoms/index.js
  frontend/src/components/layout/Body/Body.jsx
  frontend/src/components/layout/Header/Header.jsx
  frontend/src/components/organisms/ProtectedRoute/index.jsx
  frontend/src/pages/AdList/AdList.jsx
  frontend/src/pages/UserFlow/Login/Login.jsx
  frontend/src/pages/UserFlow/Registration/Registration.jsx
  frontend/src/store/notificationSlice.js
  frontend/src/store/userSlice.js
  frontend/src/utils/axiosInstance.js
  package.json
Labels: bug

#596 594 fix text forwarded props
  .husky/pre-commit
  frontend/src/components/atoms/Text.js
  frontend/src/components/atoms/Text.jsx
  frontend/src/components/layout/Header/Header.jsx
Labels: bug, frontend

#590 Create card component, change the Card for cardOrganism
  frontend/src/components/atoms/Card.jsx
  frontend/src/components/atoms/index.js
  frontend/src/components/layout/Body/Body.jsx
  frontend/src/components/layout/Body/Body.styles.js
  frontend/src/components/organisms/AdCard/AdCard.jsx
  frontend/src/components/organisms/Card/Card.jsx
  frontend/src/components/organisms/Card/Card.style.js
  frontend/src/pages/UserAds/Ad/Ad.jsx
  frontend/src/pages/UserAds/Ad/Ad.style.js
Labels: frontend

#599 Fix register response success Notification
  frontend/src/components/atoms/Notifications/Notification.jsx
  frontend/src/components/atoms/Notifications/Notifications.jsx
  frontend/src/pages/UserFlow/Login/Login.jsx
  frontend/src/pages/UserFlow/Registration/Registration.jsx
  frontend/src/store/notificationSlice.js
Labels: frontend

#603 595 create list
  frontend/src/components/atoms/List.js
  frontend/src/components/atoms/index.js
Labels: frontend

#605 Create Table Component
  frontend/src/components/atoms/Table.js
  frontend/src/components/atoms/index.js
Labels: frontend

#612 Fix AdCard and UserAds
  frontend/src/components/organisms/AdCard.jsx
  frontend/src/pages/UserAds/UserAds.jsx
  frontend/src/pages/UserAds/UserAds.style.js
  frontend/src/pages/index.js
Labels: frontend

#611 602 validation schemas in a file
  backend/app/controllers/ads.controller.js
  backend/app/controllers/chat.controller.js
  backend/app/controllers/location.controller.js
  backend/app/middleware/validation.js
  backend/app/routes/contact.routes.js
  backend/app/utils/schemaValidation.js
  backend/app/utils/utils.js
Labels: backend

#615 614 add vitest
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__test__/atoms/Label.test.jsx
  frontend/src/__test__/setup.js
  frontend/src/components/atoms/Forms/Label.jsx
  frontend/src/components/atoms/Text.js
  frontend/src/components/molecules/InputGroup.jsx
  frontend/src/pages/UserFlow/Login/Login.jsx
  frontend/vite.config.js
Labels: frontend, test

#606 575 create new test register
  .env.development
  backend/app/controllers/chat.controller.js
  backend/app/controllers/location.controller.js
  backend/app/controllers/users.controller.js
  e2e/package-lock.json
  e2e/package.json
  e2e/playwright.config.js
  e2e/state.json
  e2e/tests/test01_register.spec.js
  e2e/tests/test02_register.spec.js
  e2e/tests/test03_login.spec.js
  frontend/src/pages/UserAds/UserAds.jsx
  package-lock.json
  package.json
Labels: test

#619 593 enable sockets for user conversations
  .env.development
  backend/app/_tests_/socket.io-client.js
  backend/app/config/sockets.js
  backend/app/controllers/chat.controller.js
  backend/app/middleware/verifyToken.js
  backend/app/utils/schemaValidation.js
  backend/package-lock.json
  backend/package.json
Labels: backend

#625 logging from frontend (#617)
  backend/app/app.js
  backend/app/controllers/log.controller.js
  backend/app/routes/log.routes.js
  backend/app/utils/schemaValidation.js
  backend/package-lock.json
  frontend/package-lock.json
  package-lock.json
Labels: backend

#536 vite, vitest and supertest added. Problem with import app.
  backend/app/_tests_/app.test.js
  backend/app/_tests_/loadEnv.js
  backend/app/controllers/users.controller.js
  backend/app/utils/initRedis.js
  backend/app/utils/utils.js
  backend/package-lock.json
Labels: backend

#632 581 show validation
  frontend/src/components/atoms/CheckBox.jsx
  frontend/src/components/atoms/Forms/Input.jsx
  frontend/src/components/layout/Header/Header.jsx
  frontend/src/pages/UserFlow/Registration/Registration.jsx
  frontend/src/validation/registerUserSchema.js
Labels: frontend

#634 Order the List component
  frontend/src/components/atoms/Dropdown.jsx
  frontend/src/components/atoms/List.js
  frontend/src/components/atoms/index.js
  frontend/src/components/layout/Header/Header.jsx
  frontend/src/components/layout/Header/Header.styles.js
  frontend/src/components/organisms/Charts/BarChart/BarChartWithD3.jsx
  frontend/src/components/organisms/Charts/BarChart/BarGraphic.styles.js
  frontend/src/components/organisms/InteractiveMap/DistrictsList.jsx
  frontend/src/pages/Home/Home.jsx
  frontend/src/pages/Home/Home.styles.js
Labels: frontend

#633 584 redirect login
  frontend/src/components/atoms/Button.jsx
  frontend/src/components/atoms/Notifications/Notification.jsx
  frontend/src/pages/UserFlow/Login/Login.jsx
  frontend/src/validation/loginSchema.js
Labels: frontend

#636 635 prisma mw to check password
  .env.development
  backend/app/_tests_/app.test.js
  backend/app/utils/utils.js
  backend/prisma/indexPrisma.js
  backend/prisma/middleware/checkAndHashPassword.js
  backend/prisma/seed.js
Labels: backend
