Repository IT-Academy-BCN/ita-directory, pull requests merged in 2022-02, with the labels that each got.

#449 #368 Search Page Map
  frontend/src/components/composed/AdCardList/AdCardItem.js
  frontend/src/components/composed/AdCardList/AdCardItem.styles.js
  frontend/src/components/composed/AdCardList/AdCardList.styles.js
  frontend/src/components/composed/AdCardList/AdCardListLoadMoreBtn.js
  frontend/src/components/composed/Map/MapView/MapMarker/MapIcon/MapIcon.js
  frontend/src/components/composed/Map/MapView/MapMarker/MapMarker.js
  frontend/src/components/composed/Map/MapView/MapMarker/MapPopup/MapPopUp.Style.js
  frontend/src/components/composed/Map/MapView/MapMarker/MapPopup/MapPopup.js
  frontend/src/components/composed/Map/MapView/MapView.css
  frontend/src/components/composed/Map/MapView/MapView.js
  frontend/src/components/composed/SearchBar/SearchBar.js
  frontend/src/components/composed/SearchBar/SearchBarStyles.js
  frontend/src/screens/Search/Search.js
  frontend/src/screens/Search/Search.style.js
Labels: frontend

#451 corregido redis e implementado token en ruta get para ver que funciona
  backend/app/controllers/users.controller.js
  backend/app/routes/users.routes.js
  backend/app/utils/initRedis.js
  backend/app/utils/utils.js
  backend/package.json
  backend/prisma/seed.js
  backend/server.js
Labels: backend

#455 309 implement react hook form/contact form
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/composed/ContactModal/ContactModal.js
  frontend/src/components/units/Input/Input.js
  frontend/src/components/units/Input/Input.styles.js
  frontend/src/components/units/TextArea/TextArea.js
  frontend/src/components/units/TextArea/TextArea.styles.js
Labels: enhancement, frontend

#463 457 documentation git flow
  .github/workflows/docs.yml
  .gitignore
  backend/.env.development
  backend/app/controllers/location.controller.js
  backend/package.json
  frontend/src/App.js
Labels: documentation

#454 452 correct delete
  backend/app/controllers/users.controller.js
Labels: backend

#456 453 update user
  backend/app/controllers/users.controller.js
  backend/app/routes/users.routes.js
Labels: backend

#462 se creo la ruta: /v1/ads/search/location/:location
  backend/.env.development
  backend/app/controllers/ads.controller.js
  backend/app/controllers/media.controller.js
  backend/app/controllers/users.controller.js
  backend/app/routes/ads.routes.js
  backend/app/routes/media.routes.js
  backend/app/utils/CONSTANTS.js
Labels: backend

#468 459 forms recover password
  frontend/src/screens/UserFlow/RecoverPassword/RecoverPassword.js
  frontend/src/validation/recoverPasswordSchema.js
Labels: frontend

#470 457 documentation git flow
  documents/docs/Back-end/05-changePassword.md
Labels: documentation

#467 #458 Fix Map Issues
  frontend/src/screens/Home/Home.js
  frontend/src/screens/Search/Search.js
Labels: frontend

#469 #459 implement react hook forms with yup
  frontend/src/components/composed/ContactModal/ContactModal.js
  frontend/src/components/units/Input/Input.js
  frontend/src/components/units/Input/Input.styles.js
  frontend/src/components/units/InputNumber/InputNumber.js
  frontend/src/components/units/InputNumber/InputNumber.styles.js
  frontend/src/components/units/TextArea/TextArea.js
  frontend/src/components/units/TextArea/TextArea.styles.js
  frontend/src/screens/CreateNewAd/CreateNewAd.js
  frontend/src/screens/UserFlow/Login/Login.js
  frontend/src/screens/UserFlow/RecoverPassword/RecoverPassword.js
  frontend/src/screens/UserFlow/Registration/Registration.js
  frontend/src/validation/createNewAdSchema.js
  frontend/src/validation/loginSchema.js
  frontend/src/validation/recoverPasswordSchema.js
  frontend/src/validation/registerUserSchema.js
Labels: enhancement, frontend
