Repository IT-Academy-BCN/ita-directory, pull requests merged in 2022-03, with the labels that each got.

#483 482 create home screen , Closes #482
  .env.development
  frontend/src/assets/images/home-map.svg
  frontend/src/assets/logos/barcelona-banner.jpg
  frontend/src/components/interactive-map/DistrictsList.js
  frontend/src/components/interactive-map/InteractiveMap.js
  frontend/src/components/interactive-map/MapOfDistricts.js
  frontend/src/components/interactive-map/data/all-districts.js
  frontend/src/components/interactive-map/store/context.js
  frontend/src/components/interactive-map/store/reducer.js
  frontend/src/components/layout/Body/Body.js
  frontend/src/components/layout/Body/Body.styles.js
  frontend/src/components/layout/Footer/Footer.styles.js
  frontend/src/components/units/Banner/Banner.js
  frontend/src/screens/Home/Home.js
  frontend/src/screens/Home/Home.styles.js
Labels: frontend

#484 432 add ad edit endpoint
  backend/app/controllers/ads.controller.js
  backend/app/middleware/handler-errors.js
  backend/app/middleware/uploadFile.js
  backend/app/routes/ads.routes.js
  backend/app/routes/location.routes.js
  backend/app/utils/formatLocation.js
  backend/app/utils/utils.js
  backend/package-lock.json
  backend/package.json
  backend/prisma/seed.js
  backend/prisma/seedFiles/ad_types.js
  backend/prisma/seedFiles/ads.js
  backend/prisma/seedFiles/level_types.js
  backend/prisma/seedFiles/levels.js
  frontend/package-lock.json
  package-lock.json
Labels: backend

#493 438 upload bulk data on csv
  backend/app/controllers/ads.controller.js
  backend/app/middleware/uploadAdsCSV.js
  backend/app/routes/ads.routes.js
  backend/app/utils/parseAdsFromCsvBuffer.js
  backend/package-lock.json
  backend/package.json
Labels: backend

#498 487 move from echarts to d3
  frontend/src/components/composed/Charts/BarChart/BarChart.js
  frontend/src/components/composed/Charts/BarChart/BarChartWithD3.js
  frontend/src/components/composed/Charts/BarChart/BarGraphic.js
  frontend/src/components/composed/Charts/BarChart/BarGraphic.styles.js
  frontend/src/components/composed/Charts/BarChart/barGraphicConst.js
  frontend/src/components/composed/Charts/BarChart/defaultOptions.js
  frontend/src/components/composed/Charts/D3BarChart/BarChart.js
  frontend/src/components/composed/Charts/D3BarChart/BarGraphic.js
  frontend/src/components/composed/Charts/D3BarChart/BarGraphic.styles.js
  frontend/src/components/composed/Charts/D3LineChart/D3LineChart.js
  frontend/src/components/composed/Charts/D3LineChart/D3LineGraphic.js
  frontend/src/components/composed/Charts/D3LineChart/D3Styled.js
  frontend/src/components/composed/Charts/D3LineChart/LineChart.styles.js
  frontend/src/components/composed/Charts/D3LineChart/Selector.js
  frontend/src/components/composed/Charts/LineChart/LineChart.js
  frontend/src/components/composed/Charts/LineChart/LineChart.styles.js
  frontend/src/components/composed/Charts/LineChart/LineGraphic.js
  frontend/src/components/composed/Charts/LineChart/LineGraphicWithD3.js
  frontend/src/components/composed/Charts/LineChart/Styled.js
  frontend/src/components/composed/Charts/LineChart/defaultOptions.js
  frontend/src/components/composed/Charts/PieChart/PieChart.js
  frontend/src/components/composed/Charts/PieChart/PieGraphicWithD3.js
  frontend/src/screens/Dashboard/Dashboard.js
Labels: frontend

#496 490 update seed files only barcelona
  backend/prisma/migrations/20211117131819_/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seedFiles/ads.js
  backend/prisma/seedFiles/level_types.js
  backend/prisma/seedFiles/levels.js
Labels: backend

#495 491 upload csv files
  frontend/src/components/units/Input/Input.js
  frontend/src/components/units/Message/Message.js
  frontend/src/components/units/Notifications/Notification.js
  frontend/src/screens/CreateNewAd/CreateNewAd.js
  frontend/src/screens/CreateNewAd/CreateNewAd.styles.js
Labels: frontend

#505 497 implement auth to endpoints
  backend/app/controllers/ads.controller.js
  backend/app/controllers/users.controller.js
  backend/app/middleware/verifyToken.js
  backend/app/routes/ads.routes.js
  backend/app/routes/users.routes.js
  backend/app/utils/utils.js
Labels: backend

#513 500 line chart should have full width within the widget
  frontend/src/components/composed/Charts/BarChart/BarChartWithD3.js
  frontend/src/components/composed/Charts/BarChart/BarGraphic.styles.js
  frontend/src/components/composed/Charts/LineChart/LineGraphicWithD3.js
  frontend/src/components/composed/Charts/LineChart/Styled.js
  frontend/src/components/composed/Charts/PieChart/PieChart.styles.js
  frontend/src/components/composed/Charts/PieChart/PieGraphicWithD3.js
Labels: frontend

#517 Add "excel" MIME type to csv validation
  backend/app/middleware/uploadAdsCSV.js
Labels: bug, backend

#510 489 homepage responsive map from 2500px to 320px
  frontend/src/components/interactive-map/DistrictsList.js
  frontend/src/components/interactive-map/InteractiveMap.js
  frontend/src/components/interactive-map/MapOfDistricts.js
  frontend/src/components/interactive-map/mapOfDistrictsStyles.js
Labels: frontend

#523 504 endpoints query data charts
  backend/README.md
  backend/app/app.js
  backend/app/controllers/ads.controller.js
  backend/app/routes/ads.routes.js
  backend/app/utils/parseAdsFromCsvBuffer.js
  backend/prisma/migrations/20220320065105_add_date_on_ads_model/migration.sql
  backend/prisma/migrations/20220327124435_new_date_time_for_model_ads/migration.sql
  backend/prisma/migrations/20220328214444_new_created_at_format_for_models_ads/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.js
  backend/prisma/seedFiles/ads.js
  backend/prisma/seedFiles/level_types.js
  backend/prisma/seedFiles/levels.js
  package-lock.json
  package.json
Labels: backend
